<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SOUL FACT-E</title>
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="~/Content/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/semantic.min.js"></script>
    <script src="~/Scripts/sweet.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/components_semantic.js"></script>
</body>
</html>
