@{
    ViewBag.Title = "About";
}
<div class="ui center aligned container">

    <h4 class="ui dividing header">Sistema de Facturación Electrónica</h4>
    <br />
    <div class="ui placeholder segment">
        <div class="ui one column very relaxed stackable grid">
            <div class="column">
                <div class="ui form">
                    <div class="field">
                        <label><strong>Usuario</strong></label>
                        <div class="ui left icon input">
                            <input type="text">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label><strong>Contraseña</strong></label>
                        <div class="ui left icon input">
                            <input type="password">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <br />
                    <div class="ui blue submit button small">
                        Ingresar al Sistema
                    </div>
                </div>
            </div>
            <div class="middle aligned column">
                <div class="ui button small">
                    <i class="signup icon"></i>
                    Registrarse
                </div>
            </div>
        </div>
    </div>
</div>


